* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.cont {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(8, 1fr);
  margin-right: 400px;
  margin-top: 40px;
}

.cont div {
  width: 125px;
  height: 125px;
}

.cl2 {
  background-color: rgb(75, 140, 197);
}

.box {
  border: 2px solid black;
}

#p1,
#p2 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(236, 82, 82);
  position: relative;
  border: 3px solid black;
  /* position: absolute; */
  margin-top: 40px;
}

#p1 {
  position: fixed;
  margin-top: 200px;
  margin-left: -50px;
  transition: all linear 0.5s;
  z-index: 2;
}

#p2 {
  z-index: 2;
  position: fixed;
  margin-top: 250px;
  transition: all linear 0.5s;
  background-color: rgb(243, 181, 46);
}

.p1-move {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(236, 82, 82);
  position: relative;
  border: 3px solid black;
  z-index: 2;
  margin-top: 5px;
  margin-left: 20px;
  animation-name: ballMove;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

.p2-move {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(243, 181, 46);
  position: relative;
  border: 3px solid black;
  z-index: 2;
  margin-top: 5px;
  margin-left: 20px;
  animation-name: ballMove;
  animation-timing-function: ease-out;
  animation-duration: 3s;
}

#tog,
#dice {
  font-weight: 550;
}

img {
  position: relative;
  top: -615px;
  left: 8px;
  /* z-index: -1; */
  margin: 0;
  width: 615px;
  height: 615px;
}
#diceCont {
  display: grid;
  place-items: center;
  position: absolute;
  top: 200px;
  left: 40px;
  font-size: 2rem;
  z-index: 99;
}
#diceBtn {
  z-index: 99;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(236, 82, 82);
  border-radius: 20px;
  border: 3px solid;
  width: 200px;
  font-size: 18px;
}

.hidden {
  display: none;
}

@keyframes ballMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1px;
  }
}

@media (max-width: 1250px) {
  #diceCont {
    display: flex;
    place-items: none;
    top: 92vh;
    left: 36vw;
    border: 2px solid red;
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}
@media (max-width: 1250px) {
  #diceCont {
    display: flex;
    place-items: none;
    top: 99vh;
    left: 10vw;
    /* border: 2px solid red; */
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}
